button {
    background-color: #0acac7;
    border: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
}

button:hover {
    background-color: #0a8e7e;
}